<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Historify - Control de historial clínico</title>
        <link rel="stylesheet" href="/globals.css" type="text/css">
    </head>
    <body>
        <h2 class="pg--title">Consulta</h2>
        <form class="form" action="" method="post">

            <h3 class="form--title">Ingrese los datos de la consulta</h3>
    
            <div class="input--box">
                <label class="form--label">Id de consulta</label><br>
                <input type="text" class="form--input" name="id" value="<%=consultation.id%>">
            </div>

            <div class="input--box">
                <label class="form--label">ID del paciente</label><br>
                <input type="text" name="patient_id" class="form--input" value="<%=consultation.patient_id%>" >
            </div>
    
            <div class="input--box">
                <label class="form--label">ID del doctor</label><br>
                <input type="text" name="physician_id" class="form--input" value="<%=consultation.physician_id%>">
            </div>
            <div class="input--box">
                <label for="consultation_date" class="form--label">Fecha</label><br>
                <input type="date" name="consultation_date" class="form--input" id="consultation_date" value="<%=consultation_date_string.toString()%>"/><br>
            </div>
    
            <div class="input--box">
                <label for="hour" class="form--label">Hora</label><br>
                <input type="time" name="hour" class="form--input" id="hour" value="<%=consultation_hour_string%>"><br>
            </div>
            
            <div class="input--box">
                <label for="consultation_desc" class="form--label">Descripción de la consulta</label><br>
                <input type="text" name="consultation_desc"  class="form--input" id="consultation_desc" value="<%=consultation.consultation_desc%>"><br>
            </div>
    
            
            <div class="input--box">
                <label for="diagnosis" class="form--label">Diagnóstico</label><br>
                <textarea name="diagnosis" cols="30" rows="5"  class="form--input"></textarea><br>
            </div>
            
            <div class="input--box">
                <label for="observations" class="form--label">Observaciones</label><br>
                <textarea name="observations" rows="5" cols="30"  class="form--input"></textarea><br>
            </div>
    
            <hr/><br/>
            <input type="submit" value="Actualizar" formaction="/consultation/update/" class="submit--btn" />
        </form>
    </body>
    </html>