<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historify - Control de historial clínico</title>
    <link rel="stylesheet" href="../../globals.css" type="text/css">
</head>
<body>
    <h2 class="pg--title">Doctor</h2>
    <form class="form" action="" method="post">
        <input type="hidden" name="id" value="<%=result.id>" />
        <p class="form--title">Ingrese los datos del doctor:</p>

        <div class="input--box">
            <label for="registration" class="form--label">Matrícula</label>
            <input type="text" name="registration" class="form--input" id="registration" value="<%=result.registration>"  required>
        </div>
        
        <div class="input--box">
            <label for="gender" class="form--label">Género</label>
        <select name="gender" class="form--input" id="gender" required>
            <option value="M" <% result.gender === "M" ? "selected" : ""%>>Hombre</option>
            <option value="F" <% result.gender === "F" ? "selected" : ""%>>Mujer</option>
            <option value="X" <% result.gender === "X" ? "selected" : ""%>>Otro</option>
        </select>
        </div>
        
        <div class="input--box">
            <label for="birth" class="form--label">Fecha de nacimiento</label>
            <input type="date" name="birth" class="form--input" id="birth" value="<%=birth_string%>">
        </div>
        
        <div class="input--box">
            <label for="fname" class="form--label">Nombre</label>
        <input type="text" name="fname" class="form--input" id="fname" value="<%=result.fname%>">
        </div>
        
        <div class="input--box">
            <label for="lname" class="form--label">Apellido</label>
            <input type="text" name="lname" class="form--input" id="lname" value="<%=result.lname%>">
        </div>

        <div class="input--box">
            <label for="specialty" class="form--label">Especialidad</label>
            <input type="text" name="specialty" class="form--input" id="specialty" value="<%=result.specialty>">
        </div>

        <hr/><br/>
        <input type="submit" value="Actualizar" formaction="/physician/update" class="submit--btn" />
    </form>
</body>
</html>